@model IEnumerable<HospitalDef.Models.Doctor>

@{
    ViewData["Title"] = "doctorIndex";

   
    var nombre = User.FindFirst(System.Security.Claims.ClaimTypes.GivenName)?.Value;
    
}

<link rel="stylesheet" href="~/css/doctorIndex.css" />

<div class="dashboard-container">

    <div class="sidebar">
        <h2 class="menu-title">Menú</h2>

        <a class="menu-btn" asp-controller="Citas" asp-action="Index">Citas pendientes</a>
        <a class="menu-btn" asp-controller="Doctors" asp-action="Details">Datos personales</a>
    </div>

    <!-- Contenido principal -->
    <div class="main-content">
        <h1 class="welcome-title">Bienvenido/a Dr. @nombre</h1>
        <p class="welcome-text">Seleccione una opción del menú para continuar.</p>
    </div>

</div>
