
body {
    background-image: url('images/hero.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0; 
}

    body::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: -webkit-linear-gradient(90deg, #226add,#60908f,#226add); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(90deg, #226add,#60908f,#226add); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        z-index: -1;
    }

.row > .col-md-4 {
    margin-top: 10vh;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    margin-left: auto;
    margin-right: auto;
}

h2 {
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0rem;
    margin-top: 2rem;
}
